body {
    max-height: 800px;
    
}

#controls {
    display: flex;
}

.board {
    padding: 15px;
    border: 1px solid black;
}

.row {
    display: flex;
    /* justify-content: space-evenly; */
    flex: 1;
}

.tile {
    flex: 1;
    aspect-ratio: 1 / 1;
    opacity: 0;
    background-color: black;
}